<div class="context-menu_item _loop -disabled">{{rsMessage 'refreshButton' 'Refresh'}}</div>
<div class="context-menu_item _cut -disabled">{{rsMessage 'cutButton' 'Cut'}}</div>
<div class="context-menu_item _copy -disabled">{{rsMessage 'copyButton' 'Copy'}}</div>
<div class="context-menu_item _paste -disabled">{{rsMessage 'pasteButton' 'Paste'}}</div>
<div class="context-menu_item _rename -disabled">{{rsMessage 'renameButton' 'Rename'}}</div>
<div class="context-menu_item _delete -disabled">{{rsMessage 'deleteButton' 'Delete'}}</div>
<div class="context-menu_item _upload -disabled">{{rsMessage 'uploadButton' 'Upload'}}</div>
<div class="context-menu_item _download -disabled">{{rsMessage 'downloadButton' 'Download'}}</div>   
 <form id='uploader' style='display: none'>
<input type='file' multiple="true"/>
			  </form>