<div class="finder_header-controls">
	<div class="finder_row">
		<div class="finder_col">
			<div class="b-btn-set">
				<button class="btn-set_item _first _back -disabled" title="{{rsMessage 'backButton' 'Back'}}"></button>
				<button class="btn-set_item _last _forward -disabled" title="{{rsMessage 'forwardButton' 'Forward'}}"></button>
			</div>
		</div>
		<div class="finder_col">
			<div class="b-btn-set">
				<button class="btn-set_item _new-folder -disabled" title="{{rsMessage 'mkdirButton' 'Create Dir'}}"></button>
			</div>
		</div>
		<div class="finder_col">
			<div class="b-btn-set">
				<button class="btn-set_item _download -disabled" title="{{rsMessage 'downloadButton' 'Download'}}"></button>
			</div>
		</div>
		<div class="finder_col">
			<div class="b-btn-set">
				<button class="btn-set_item _first _cut -disabled" title="{{rsMessage 'cutButton' 'Cut'}}"></button>
				<button class="btn-set_item _middle _copy -disabled" title="{{rsMessage 'copyButton' 'Copy'}}"></button>
				<button class="btn-set_item _last _paste -disabled" title="{{rsMessage 'pasteButton' 'Paste'}}"></button>
			</div>
		</div>
        <div class="finder_col">
            <div class="b-btn-set">
                <button class="btn-set_item _rename -disabled" title="{{rsMessage 'renameButton' 'Rename'}}"></button>
            </div>
        </div>
		<div class="finder_col">
			<div class="b-btn-set">
				<button class="btn-set_item _delete -disabled" id="deleteAction" title="{{rsMessage 'deleteButton' 'Delete'}}"></button>
			</div>
		</div>
        <div class="finder_col">
            <div class="b-btn-set">
                <button class="btn-set_item _info -disabled" id="infoAction" title="Информация"></button>
            </div>
        </div>
        <div class="finder_col">
            <div class="b-btn-set">
                <button class="btn-set_item _loop -disabled" id="loopAction" title="Обновить"></button>
            </div>
        </div>
		<div class="finder_col">
			<div class="b-btn-set">
			<button class="btn-set_item _upload -disabled" title="{{rsMessage 'uploadButton' 'Upload'}}" id='uploadAction'>
              <!-- <progress class="btn-set_item-upload-progress" max="100" value="40"></progress> -->
             </button>
			 <form id='uploader' style='display: none'>
                   <input type='file' multiple="true"/>
			  </form>
			</div>
		</div>
	</div>

</div>
<div class="finder_header-filter">
	<div class="finder_row">
		<div class="finder_col _w-full">
			<div class="b-input-filter">
				<label finput="FinderFilter"></label> <input type="text"
					name="FinderFilter" id="FinderFilter" placeholder="{{rsMessage 'filterPlaceholder' 'Filter...'}}"
					class="input-filter_input" />
				<div class="input-filter_btn _search"></div>
			</div>
		</div>
	</div>
</div>
