<div class="finder_header-layout"></div>
<div class="finder_base" style="-moz-user-select: none;">
	<div class="finder_aside-layout"></div>
	<div class="finder_main-layout"></div>

</div>
<div class="finder_footer-layout"></div>
<div class="finder_popup-layout"></div>
<div class="finder_context-menu"></div>
	<!-- 
style="display: block;"
            <div class="b-popup">
                <div class="popup_header">
                    <div class="popup_header-name">Удаление</div>
                </div>
                <div class="popup_content">
                    <div class="popup_content-text">
                        Вы уверены, что хотите произвести удаление файла filename.ext?
                    </div>
                    <div class="popup_btn-container">
                        <button class="popup_btn _ok">ОК</button>
                        <button class="popup_btn _cancel">Отмена</button>
                    </div>
                </div>
            </div>

         -->
