<div class="modal-dialog" style="width:800px">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">×</button>
			<h4 class="modal-title" id="myModalLabel">Добавление ресурса</h4>
		</div>
		<div class="modal-body"> <div class="rsmanager"></div></div>
		<div class="modal-footer">
			
		</div>
	</div>
</div>