<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			 <h3>Loading...&nbsp; <img src="./images/ajax-loader.gif" alt="loading..." id="modal-loading" ></h3>
		</div>	
	</div>
</div>