<div class="popup_header">
	<div class="popup_header-name">Удаление</div>
</div>
<div class="popup_content">
	<div class="popup_content-text">Вы уверены, что хотите произвести
		удаление файла/(ов) {{ name }} ?</div>
	<div class="popup_btn-container">
		<button class="popup_btn _ok">ОК</button>
		<button class="popup_btn _cancel">Отмена</button>
	</div>
</div>
