<div class="b-file-system-item _{{ mimeClass }}">
	<div class="file-system-item_icon-box _{{ mimeClass }}" 
	{{#if image}}
      style="background-image: url('rsapi/resource/tmb/{{ tmbPath }}'); background-repeat:no-repeat; background-position: 30% center;
         {{#if locked}}
            border: 2px solid red;
         {{/if}}     
        "
    {{/if}}>
 	</div>
	<div class="file-system-item_name" title="{{ name }}">
	  <input class="file-system-item_name-input" style='display:none' type="text" value="{{ name }}"/>
	  <span>{{name}} </span>
	</div>
</div>
