<div class="folder-tree_list-item-folder" title="{{name}}">
	{{ name }}
	<div class="folder-tree_list-item-folder-loader" style='display:none'></div>
	<div class="folder-tree_list-item-folder-trigger-icon"></div>
</div>
