
	<div class="popup_header">
		<div class="popup_header-name">Информация о файлax</div>
	</div>
	<div class="popup_content">
        <div class="b-file-info _no-header">
            <div class="file-info_main">
                <table class="file-info_table">
                    <tbody>
                    <tr>
                        <td class="file-info_td _left">Количество:</td>
                        <td class="file-info_td _right">{{ total }}</td>
                    </tr>
                    <tr>
                        <td class="file-info_td _left">Размер:</td>
                        <td class="file-info_td _right">{{ size }}</td>
                    </tr>
                    <tr>
                        <td class="file-info_td _left">Директорий:</td>
                        <td class="file-info_td _right">{{ folder }}</td>
                    </tr>
                    <tr>
                        <td class="file-info_td _left">Файлов:</td>
                        <td class="file-info_td _right">{{ file }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
		<div class="popup_btn-container">
			<button class="popup_btn _ok">ОК</button>
		</div>
	</div>
