
	<div class="popup_header">
		<div class="popup_header-name">Информация о файле</div>
	</div>
	<div class="popup_content">
		<div class="b-file-info">
			<div class="file-info_header">
                <div class="file-info_icon-wrap">
                    <div class="file-info_icon _{{ mimeClass }}"
                        {{#if image}}
                            style="background-image: url('rsapi/resource/tmb/{{ tmbPath }}'); background-repeat:no-repeat; background-position: 30% center; background-size: contain; "
                        {{/if}}>
                    </div>
                </div>
				<div class="file-info_name">{{ name }}</div>
				<div class="file-info_type">{{ mimeTypes }}</div>
			</div>
			<div class="file-info_main">
				<table class="file-info_table">
					<tbody>
						<tr>
							<td class="file-info_td _left">Размер:</td>
							<td class="file-info_td _right">{{ size }}</td>
						</tr>
						<tr>
							<td class="file-info_td _left">Путь:</td>
							<td class="file-info_td _right">{{ absolutePath }}</td>
						</tr>
						<tr>
							<td class="file-info_td _left">Изменен:</td>
							<td class="file-info_td _right">{{ modifiedDate }} </td>
						</tr>
						<tr>
							<td class="file-info_td _left">Заблокирован:</td>
							<td class="file-info_td _right">  {{#if locked}} да {{else}} нет {{/if}}</td>
						</tr>
						<tr>
							<td class="file-info_td _left">Чтение:</td>
							<td class="file-info_td _right">{{#if readable }} да {{else}} нет {{/if}}</td>
						</tr>
						<tr>
							<td class="file-info_td _left">Запись:</td>
							<td class="file-info_td _right">{{#if writable }} да {{else}} нет {{/if}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="popup_btn-container">
			<button class="popup_btn _ok">ОК</button>
		</div>
	</div>
