.b-context-menu {
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    background: #f2f2c5;
    font-size: 12px;

    .context-menu_item {
        position: relative;
        height: 26px;
        padding: 7px 28px 0;
        border-top: 1px solid #c5c5c5;
        cursor: pointer;

        &:first-child {
            border-top: none;
        }

        &:hover {
            background: #f2f3e4;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 5px;
            left: 7px;
            width: 16px;
            height: 16px;
            background-size: contain;
            background-repeat: no-repeat;
        }

        &.-disabled {
            color: #aaa;
        }

        &.-disabled:hover {
            background: #f2f2c5;
        }
    }
}