.b-error-box {
    position: relative;
    padding: 20px 20px;
    border-radius: 4px;
    background: #e38916;

    .error-box_list {
        margin: 0;
        padding: 0 5px;
        list-style: none;
        max-width: 360px;
        max-height: 180px;
        overflow: auto;
    }

    .error-box_list-item {
        padding: 5px 0;
        color: #fff;
        font-size: 12px;
        line-height: 1.2;
        border-bottom: 1px dashed #fff;
    }

    .error-box_close-icon {
        position: absolute;
        top: 4px;
        right: 4px;
        width: 16px;
        height: 16px;
        background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0D%0A%3Cg%20transform%3D%22translate%280%200%29%22%3E%0D%0A%09%3Cpath%20d%3D%22M20.281%2020.656q0%200.625-0.438%201.062l-2.125%202.125q-0.438%200.438-1.062%200.438t-1.062-0.438l-4.594-4.594-4.594%204.594q-0.438%200.438-1.062%200.438t-1.062-0.438l-2.125-2.125q-0.438-0.438-0.438-1.062t0.438-1.062l4.594-4.594-4.594-4.594q-0.438-0.438-0.438-1.062t0.438-1.062l2.125-2.125q0.438-0.438%201.062-0.438t1.062%200.438l4.594%204.594%204.594-4.594q0.438-0.438%201.062-0.438t1.062%200.438l2.125%202.125q0.438%200.438%200.438%201.062t-0.438%201.062l-4.594%204.594%204.594%204.594q0.438%200.438%200.438%201.062z%22%20fill%3D%22%23ffffff%22%3E%3C/path%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A') no-repeat;
        background-size: contain;
        cursor: pointer;
    }
}