.b-file-info {

    .file-info_header {
        position: relative;
        height: 70px;
        padding-left: 90px;
    }

    .file-info_icon-wrap {
        position: absolute;
        top: 0;
        left: 0;
        padding: 3px;
        border: 1px dashed #aaa;
    }

    .file-info_icon {
        width: 70px;
        height: 66px;
    }

    .file-info_icon:before {
        content: '';
        display: block;
        height: 66px;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0D%0A%3Cg%20transform%3D%22translate%280%200%29%22%3E%0D%0A%09%3Cpath%20d%3D%22M28.681%207.159c-0.694-0.947-1.662-2.053-2.724-3.116s-2.169-2.030-3.116-2.724c-1.612-1.182-2.393-1.319-2.841-1.319h-15.5c-1.378%200-2.5%201.121-2.5%202.5v27c0%201.378%201.122%202.5%202.5%202.5h23c1.378%200%202.5-1.122%202.5-2.5v-19.5c0-0.448-0.137-1.23-1.319-2.841zM24.543%205.457c0.959%200.959%201.712%201.825%202.268%202.543h-4.811v-4.811c0.718%200.556%201.584%201.309%202.543%202.268zM28%2029.5c0%200.271-0.229%200.5-0.5%200.5h-23c-0.271%200-0.5-0.229-0.5-0.5v-27c0-0.271%200.229-0.5%200.5-0.5%200%200%2015.499-0%2015.5%200v7c0%200.552%200.448%201%201%201h7v19.5z%22%20fill%3D%22%23444444%22%3E%3C/path%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .file-info_icon._txt-plain {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0D%0A%3Cg%20id%3D%22tor%22%20transform%3D%22translate%280%200%29%22%3E%0D%0A%09%3Cpath%20d%3D%22M28.681%207.159c-0.694-0.947-1.662-2.053-2.724-3.116s-2.169-2.030-3.116-2.724c-1.612-1.182-2.393-1.319-2.841-1.319h-15.5c-1.378%200-2.5%201.121-2.5%202.5v27c0%201.378%201.122%202.5%202.5%202.5h23c1.378%200%202.5-1.122%202.5-2.5v-19.5c0-0.448-0.137-1.23-1.319-2.841zM24.543%205.457c0.959%200.959%201.712%201.825%202.268%202.543h-4.811v-4.811c0.718%200.556%201.584%201.309%202.543%202.268zM28%2029.5c0%200.271-0.229%200.5-0.5%200.5h-23c-0.271%200-0.5-0.229-0.5-0.5v-27c0-0.271%200.229-0.5%200.5-0.5%200%200%2015.499-0%2015.5%200v7c0%200.552%200.448%201%201%201h7v19.5z%22%20fill%3D%22%23444444%22%3E%3C/path%3E%0D%0A%09%3Cpath%20d%3D%22M23%2026h-14c-0.552%200-1-0.448-1-1s0.448-1%201-1h14c0.552%200%201%200.448%201%201s-0.448%201-1%201z%22%20fill%3D%22%23444444%22%3E%3C/path%3E%0D%0A%09%3Cpath%20d%3D%22M23%2022h-14c-0.552%200-1-0.448-1-1s0.448-1%201-1h14c0.552%200%201%200.448%201%201s-0.448%201-1%201z%22%20fill%3D%22%23444444%22%3E%3C/path%3E%0D%0A%09%3Cpath%20d%3D%22M23%2018h-14c-0.552%200-1-0.448-1-1s0.448-1%201-1h14c0.552%200%201%200.448%201%201s-0.448%201-1%201z%22%20fill%3D%22%23444444%22%3E%3C/path%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
        background-position: 2px 0;
    }

    .file-info_icon[class*='_image']:before {
        display: none;
    }

    .file-info_name,
    .file-info_type {
        letter-spacing: 1px;
    }

    .file-info_name {
        font-size: 12px;
        font-weight: bold;
    }

    .file-info_type {
        margin-top: 8px;
    }

    .file-info_main {
        padding: 10px 0 0;
        font-size: 12px;
    }

    &._no-header .file-info_main {
        padding: 0;
    }

    .file-info_table {
        width: 100%;
    }

    .file-info_td {
        vertical-align: middle;
        padding: 5px 0;
    }

    .file-info_td._left {
        width: 90px;
        padding-right: 5px;
    }

    .file-info_td._right {

    }
}