.b-finder {
    position: relative;
    width: 950px;
    min-width: 500px;
    border-radius: 6px;
    border: 1px solid #c5c5c5;
    font: 14px/1 Arial, Tahoma, sans-serif;
    color: #333;

    .finder_header-layout {}

    .finder_header {
        border-radius: 6px 6px 0 0;
        min-height: 40px;
        padding: 0 10px 0 5px;
        border-bottom: 1px solid #c5c5c5;
        background: #f2f2f2;
        background: linear-gradient(to bottom, #fdfdfd, #ddd);
        background: -moz-linear-gradient(top, #fdfdfd 0%, #ddd 100%);
        background: -ms-linear-gradient(top, #fdfdfd 0%, #ddd 100%);
        background: -webkit-linear-gradient(top, #fdfdfd 0%,#ddd 100%);
        background: -o-linear-gradient(top, #fdfdfd 0%,#ddd 100%);
    }

    .finder_header:after {
        content: '';
        display: table;
        clear: both;
    }

    .finder_header-controls {
        float: left;
        width: 70%;
    }

    .finder_header-filter {
        float: right;
        width: 30%;
        padding-left: 20px;
    }

    .finder_base {
        position: relative;
        display: table;
        border-collapse: collapse;
        width: 100%;
    }

    .finder_base:after {
        content: '';
        display: table;
        clear: both;
    }

    .finder_base .finder_base {
        position: static;
        display: block;
        width: auto;
    }

    .finder_aside-layout,
    .finder_main-layout {
        display: table-cell;
        vertical-align: top;
    }

    .finder_aside-layout {
        position: relative;
        border-right: 1px solid #c5c5c5;
        background: #f2f2f2;
        min-width: 300px;
        width: 300px;
    }

    .finder_aside,
    .finder_main {
//        height: 400px;
//        min-height: 300px;
        overflow: auto;
    }

    .finder_aside {
        position: relative;
        padding: 7px 10px 10px 0;
    }

    .finder_main {
        position: relative;
        padding: 5px;
        overflow: auto;
    }

    .finder_error-box {
        position: absolute;
        bottom: 1px;
        right: 1px;
    }

    .finder_footer-layout {}

    .finder_footer {
        width: 100%;
        min-height: 25px;
        padding: 5px 10px 0;
        border-top: 1px solid #c5c5c5;
        border-radius:  0 0 6px 6px;
        background: #f2f2f2;
        background: linear-gradient(to bottom, #fdfdfd, #ddd);
        background: -moz-linear-gradient(top, #fdfdfd 0%, #ddd 100%);
        background: -ms-linear-gradient(top, #fdfdfd 0%, #ddd 100%);
        background: -webkit-linear-gradient(top, #fdfdfd 0%,#ddd 100%);
        background: -o-linear-gradient(top, #fdfdfd 0%,#ddd 100%);
    }

    .finder_footer-left,
    .finder_footer-center,
    .finder_footer-right {
        padding-bottom: 1px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }


    .finder_footer-left {
        float: left;
        width: 30%;
        text-align: left;
    }

    .finder_footer-center {
        margin: 0 30%;
        padding: 0 5px 1px;
        text-align: center;
    }

    .finder_footer-right {
        float: right;
        width: 30%;
        text-align: right;
    }

    .finder_row:after {
      content: '';
      display: table;
      clear: both;
    }

    .finder_col {
        padding: 5px;
        float: left;

        &._w-full {
            width: 100%;
        }

        &._p-reset {
            padding: 0;
        }

        &._p-t-xxs {
            padding-top: 5px;
        }

        &._p-l-sm {
            padding-left: 15px;
        }
    }

    .finder_popup-layout {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background: rgba(0, 0, 0, .2);
    }

    .finder_context-menu {
        position: absolute;
        top: 0;
        left: 0;
    }
}