.b-finder {

    ._back:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0D%0A%3Cg%20transform%3D%22translate%280%200%29%22%3E%0D%0A%09%3Cpath%20d%3D%22M12.586%2027.414l-10-10c-0.781-0.781-0.781-2.047%200-2.828l10-10c0.781-0.781%202.047-0.781%202.828%200s0.781%202.047%200%202.828l-6.586%206.586h19.172c1.105%200%202%200.895%202%202s-0.895%202-2%202h-19.172l6.586%206.586c0.39%200.39%200.586%200.902%200.586%201.414s-0.195%201.024-0.586%201.414c-0.781%200.781-2.047%200.781-2.828%200z%22%20fill%3D%22%23444444%22%3E%3C/path%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
    }

    ._back.-disabled:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0D%0A%3Cg%20transform%3D%22translate%280%200%29%22%3E%0D%0A%09%3Cpath%20d%3D%22M12.586%2027.414l-10-10c-0.781-0.781-0.781-2.047%200-2.828l10-10c0.781-0.781%202.047-0.781%202.828%200s0.781%202.047%200%202.828l-6.586%206.586h19.172c1.105%200%202%200.895%202%202s-0.895%202-2%202h-19.172l6.586%206.586c0.39%200.39%200.586%200.902%200.586%201.414s-0.195%201.024-0.586%201.414c-0.781%200.781-2.047%200.781-2.828%200z%22%20fill%3D%22%23aaaaaa%22%3E%3C/path%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
    }

    ._forward:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0D%0A%3Cg%20transform%3D%22translate%280%200%29%22%3E%0D%0A%09%3Cpath%20d%3D%22M19.414%2027.414l10-10c0.781-0.781%200.781-2.047%200-2.828l-10-10c-0.781-0.781-2.047-0.781-2.828%200s-0.781%202.047%200%202.828l6.586%206.586h-19.172c-1.105%200-2%200.895-2%202s0.895%202%202%202h19.172l-6.586%206.586c-0.39%200.39-0.586%200.902-0.586%201.414s0.195%201.024%200.586%201.414c0.781%200.781%202.047%200.781%202.828%200z%22%20fill%3D%22%23444444%22%3E%3C/path%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
    }

    ._forward.-disabled:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0D%0A%3Cg%20transform%3D%22translate%280%200%29%22%3E%0D%0A%09%3Cpath%20d%3D%22M19.414%2027.414l10-10c0.781-0.781%200.781-2.047%200-2.828l-10-10c-0.781-0.781-2.047-0.781-2.828%200s-0.781%202.047%200%202.828l6.586%206.586h-19.172c-1.105%200-2%200.895-2%202s0.895%202%202%202h19.172l-6.586%206.586c-0.39%200.39-0.586%200.902-0.586%201.414s0.195%201.024%200.586%201.414c0.781%200.781%202.047%200.781%202.828%200z%22%20fill%3D%22%23aaaaaa%22%3E%3C/path%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
    }

    ._new-folder:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0D%0A%3Cg%20transform%3D%22translate%280%200%29%22%3E%0D%0A%09%3Cpath%20d%3D%22M18%208l-4-4h-14v26h32v-22h-14zM22%2022h-4v4h-4v-4h-4v-4h4v-4h4v4h4v4z%22%20fill%3D%22%23444444%22%3E%3C/path%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
    }

    ._new-folder.-disabled:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0D%0A%3Cg%20transform%3D%22translate%280%200%29%22%3E%0D%0A%09%3Cpath%20d%3D%22M18%208l-4-4h-14v26h32v-22h-14zM22%2022h-4v4h-4v-4h-4v-4h4v-4h4v4h4v4z%22%20fill%3D%22%23aaaaaa%22%3E%3C/path%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
    }

    ._download:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0D%0A%3Cg%20transform%3D%22translate%280%200%29%22%3E%0D%0A%09%3Cpath%20d%3D%22M27.844%2011.252c-0.101-4.022-3.389-7.252-7.433-7.252-2.369%200-4.477%201.109-5.839%202.835-0.764-0.987-1.959-1.624-3.303-1.624-2.307%200-4.176%201.871-4.176%204.179%200%200.201%200.015%200.399%200.043%200.592-0.351-0.063-0.711-0.098-1.080-0.098-3.344-0-6.054%202.712-6.054%206.058s2.71%206.058%206.054%206.058h2.868l7.078%207.328%207.078-7.328%203.484-0c3.004-0.006%205.438-2.444%205.438-5.451%200-2.565-1.771-4.716-4.156-5.296zM16%2026l-6-6h4v-6h4v6h4l-6%206z%22%20fill%3D%22%23444444%22%3E%3C/path%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
    }

    ._download.-disabled:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0D%0A%3Cg%20transform%3D%22translate%280%200%29%22%3E%0D%0A%09%3Cpath%20d%3D%22M27.844%2011.252c-0.101-4.022-3.389-7.252-7.433-7.252-2.369%200-4.477%201.109-5.839%202.835-0.764-0.987-1.959-1.624-3.303-1.624-2.307%200-4.176%201.871-4.176%204.179%200%200.201%200.015%200.399%200.043%200.592-0.351-0.063-0.711-0.098-1.080-0.098-3.344-0-6.054%202.712-6.054%206.058s2.71%206.058%206.054%206.058h2.868l7.078%207.328%207.078-7.328%203.484-0c3.004-0.006%205.438-2.444%205.438-5.451%200-2.565-1.771-4.716-4.156-5.296zM16%2026l-6-6h4v-6h4v6h4l-6%206z%22%20fill%3D%22%23aaaaaa%22%3E%3C/path%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
    }

    ._cut:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0D%0A%3Cg%20transform%3D%22translate%280%200%29%22%3E%0D%0A%09%3Cpath%20d%3D%22M28.557%2021.24c-2.084-3.256-5.659-4.689-7.985-3.201-0.201%200.129-0.385%200.275-0.555%200.437l-2.483-3.883%205.733-8.999c0.469-0.867%200.642-1.899%200.415-2.937-0.218-0.992-0.766-1.826-1.503-2.413l-0.384-0.244-6.796%2010.629-6.796-10.629-0.384%200.244c-0.737%200.587-1.285%201.421-1.503%202.413-0.228%201.038-0.055%202.070%200.415%202.937l5.733%208.999-2.483%203.883c-0.169-0.162-0.354-0.308-0.554-0.437-2.326-1.488-5.901-0.055-7.985%203.201s-1.887%207.103%200.438%208.591c2.326%201.488%205.901%200.055%207.985-3.201l5.134-8.058%205.134%208.058c2.084%203.256%205.659%204.689%207.985%203.201s2.522-5.335%200.438-8.591zM7.339%2025.013c-0.938%201.466-2.142%202.179-2.955%202.358-0%200-0%200-0%200-0.265%200.058-0.634%200.094-0.885-0.067-0.278-0.178-0.463-0.648-0.494-1.259-0.050-0.989%200.301-2.151%200.965-3.189%200.938-1.466%202.142-2.179%202.955-2.358%200.266-0.058%200.635-0.094%200.886%200.066%200.278%200.178%200.463%200.648%200.494%201.259%200.051%200.989-0.301%202.151-0.965%203.189zM15%2016c-0.552%200-1-0.448-1-1s0.448-1%201-1%201%200.448%201%201-0.448%201-1%201zM26.995%2026.046c-0.031%200.61-0.216%201.081-0.494%201.259-0.251%200.161-0.62%200.125-0.885%200.067%200%200%200%200-0%200-0.814-0.179-2.017-0.892-2.955-2.358-0.664-1.037-1.016-2.2-0.965-3.189%200.031-0.61%200.216-1.081%200.494-1.259%200.251-0.16%200.62-0.125%200.886-0.066%200.814%200.179%202.017%200.892%202.955%202.358%200.664%201.037%201.016%202.2%200.965%203.189z%22%20fill%3D%22%23444444%22%3E%3C/path%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
    }

    ._cut.-disabled:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0D%0A%3Cg%20transform%3D%22translate%280%200%29%22%3E%0D%0A%09%3Cpath%20d%3D%22M28.557%2021.24c-2.084-3.256-5.659-4.689-7.985-3.201-0.201%200.129-0.385%200.275-0.555%200.437l-2.483-3.883%205.733-8.999c0.469-0.867%200.642-1.899%200.415-2.937-0.218-0.992-0.766-1.826-1.503-2.413l-0.384-0.244-6.796%2010.629-6.796-10.629-0.384%200.244c-0.737%200.587-1.285%201.421-1.503%202.413-0.228%201.038-0.055%202.070%200.415%202.937l5.733%208.999-2.483%203.883c-0.169-0.162-0.354-0.308-0.554-0.437-2.326-1.488-5.901-0.055-7.985%203.201s-1.887%207.103%200.438%208.591c2.326%201.488%205.901%200.055%207.985-3.201l5.134-8.058%205.134%208.058c2.084%203.256%205.659%204.689%207.985%203.201s2.522-5.335%200.438-8.591zM7.339%2025.013c-0.938%201.466-2.142%202.179-2.955%202.358-0%200-0%200-0%200-0.265%200.058-0.634%200.094-0.885-0.067-0.278-0.178-0.463-0.648-0.494-1.259-0.050-0.989%200.301-2.151%200.965-3.189%200.938-1.466%202.142-2.179%202.955-2.358%200.266-0.058%200.635-0.094%200.886%200.066%200.278%200.178%200.463%200.648%200.494%201.259%200.051%200.989-0.301%202.151-0.965%203.189zM15%2016c-0.552%200-1-0.448-1-1s0.448-1%201-1%201%200.448%201%201-0.448%201-1%201zM26.995%2026.046c-0.031%200.61-0.216%201.081-0.494%201.259-0.251%200.161-0.62%200.125-0.885%200.067%200%200%200%200-0%200-0.814-0.179-2.017-0.892-2.955-2.358-0.664-1.037-1.016-2.2-0.965-3.189%200.031-0.61%200.216-1.081%200.494-1.259%200.251-0.16%200.62-0.125%200.886-0.066%200.814%200.179%202.017%200.892%202.955%202.358%200.664%201.037%201.016%202.2%200.965%203.189z%22%20fill%3D%22%23aaaaaa%22%3E%3C/path%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
    }

    ._copy:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0D%0A%3Cg%20transform%3D%22translate%280%200%29%22%3E%0D%0A%09%3Cpath%20d%3D%22M20%208v-8h-14l-6%206v18h12v8h20v-24h-12zM6%202.828v3.172h-3.172l3.172-3.172zM2%2022v-14h6v-6h10v6l-6%206v8h-10zM18%2010.828v3.172h-3.172l3.172-3.172zM30%2030h-16v-14h6v-6h10v20z%22%20fill%3D%22%23444444%22%3E%3C/path%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
    }

    ._copy.-disabled:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0D%0A%3Cg%20transform%3D%22translate%280%200%29%22%3E%0D%0A%09%3Cpath%20d%3D%22M20%208v-8h-14l-6%206v18h12v8h20v-24h-12zM6%202.828v3.172h-3.172l3.172-3.172zM2%2022v-14h6v-6h10v6l-6%206v8h-10zM18%2010.828v3.172h-3.172l3.172-3.172zM30%2030h-16v-14h6v-6h10v20z%22%20fill%3D%22%23aaaaaa%22%3E%3C/path%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
    }

    ._paste:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0D%0A%3Cg%20transform%3D%22translate%280%200%29%22%3E%0D%0A%09%3Cpath%20d%3D%22M22%204h-4v-2c0-1.1-0.9-2-2-2h-4c-1.1%200-2%200.9-2%202v2h-4v4h16v-4zM16%204h-4v-1.996c0.001-0.001%200.002-0.002%200.004-0.004h3.993c0.001%200.001%200.003%200.002%200.004%200.004v1.996zM26%2010v-5c0-0.55-0.45-1-1-1h-2v2h1v4h-6l-6%206v8h-8v-18h1v-2h-2c-0.55%200-1%200.45-1%201v20c0%200.55%200.45%201%201%201h9v6h20v-22h-6zM18%2012.828v3.172h-3.172l3.172-3.172zM30%2030h-16v-12h6v-6h10v18z%22%20fill%3D%22%23444444%22%3E%3C/path%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
    }

    ._paste.-disabled:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0D%0A%3Cg%20transform%3D%22translate%280%200%29%22%3E%0D%0A%09%3Cpath%20d%3D%22M22%204h-4v-2c0-1.1-0.9-2-2-2h-4c-1.1%200-2%200.9-2%202v2h-4v4h16v-4zM16%204h-4v-1.996c0.001-0.001%200.002-0.002%200.004-0.004h3.993c0.001%200.001%200.003%200.002%200.004%200.004v1.996zM26%2010v-5c0-0.55-0.45-1-1-1h-2v2h1v4h-6l-6%206v8h-8v-18h1v-2h-2c-0.55%200-1%200.45-1%201v20c0%200.55%200.45%201%201%201h9v6h20v-22h-6zM18%2012.828v3.172h-3.172l3.172-3.172zM30%2030h-16v-12h6v-6h10v18z%22%20fill%3D%22%23aaaaaa%22%3E%3C/path%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
    }

    ._delete:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0D%0A%3Cg%20transform%3D%22translate%280%200%29%22%3E%0D%0A%09%3Cpath%20d%3D%22M4%2010v20c0%201.1%200.9%202%202%202h18c1.1%200%202-0.9%202-2v-20h-22zM10%2028h-2v-14h2v14zM14%2028h-2v-14h2v14zM18%2028h-2v-14h2v14zM22%2028h-2v-14h2v14z%22%20fill%3D%22%23444444%22%3E%3C/path%3E%0D%0A%09%3Cpath%20d%3D%22M26.5%204h-6.5v-2.5c0-0.825-0.675-1.5-1.5-1.5h-7c-0.825%200-1.5%200.675-1.5%201.5v2.5h-6.5c-0.825%200-1.5%200.675-1.5%201.5v2.5h26v-2.5c0-0.825-0.675-1.5-1.5-1.5zM18%204h-6v-1.975h6v1.975z%22%20fill%3D%22%23444444%22%3E%3C/path%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
    }

    ._delete.-disabled:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0D%0A%3Cg%20transform%3D%22translate%280%200%29%22%3E%0D%0A%09%3Cpath%20d%3D%22M4%2010v20c0%201.1%200.9%202%202%202h18c1.1%200%202-0.9%202-2v-20h-22zM10%2028h-2v-14h2v14zM14%2028h-2v-14h2v14zM18%2028h-2v-14h2v14zM22%2028h-2v-14h2v14z%22%20fill%3D%22%23aaaaaa%22%3E%3C/path%3E%0D%0A%09%3Cpath%20d%3D%22M26.5%204h-6.5v-2.5c0-0.825-0.675-1.5-1.5-1.5h-7c-0.825%200-1.5%200.675-1.5%201.5v2.5h-6.5c-0.825%200-1.5%200.675-1.5%201.5v2.5h26v-2.5c0-0.825-0.675-1.5-1.5-1.5zM18%204h-6v-1.975h6v1.975z%22%20fill%3D%22%23aaaaaa%22%3E%3C/path%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
    }

    ._info:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0A%3Cpath%20fill%3D%22%23444444%22%20d%3D%22M14%209.5c0-0.825%200.675-1.5%201.5-1.5h1c0.825%200%201.5%200.675%201.5%201.5v1c0%200.825-0.675%201.5-1.5%201.5h-1c-0.825%200-1.5-0.675-1.5-1.5v-1z%22%3E%3C/path%3E%0A%3Cpath%20fill%3D%22%23444444%22%20d%3D%22M20%2024h-8v-2h2v-6h-2v-2h6v8h2z%22%3E%3C/path%3E%0A%3Cpath%20fill%3D%22%23444444%22%20d%3D%22M16%200c-8.837%200-16%207.163-16%2016s7.163%2016%2016%2016%2016-7.163%2016-16-7.163-16-16-16zM16%2029c-7.18%200-13-5.82-13-13s5.82-13%2013-13%2013%205.82%2013%2013-5.82%2013-13%2013z%22%3E%3C/path%3E%0A%3C/svg%3E%0A');
    }

    ._info.-disabled:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0A%3Cpath%20fill%3D%22%23aaaaaa%22%20d%3D%22M14%209.5c0-0.825%200.675-1.5%201.5-1.5h1c0.825%200%201.5%200.675%201.5%201.5v1c0%200.825-0.675%201.5-1.5%201.5h-1c-0.825%200-1.5-0.675-1.5-1.5v-1z%22%3E%3C/path%3E%0A%3Cpath%20fill%3D%22%23aaaaaa%22%20d%3D%22M20%2024h-8v-2h2v-6h-2v-2h6v8h2z%22%3E%3C/path%3E%0A%3Cpath%20fill%3D%22%23aaaaaa%22%20d%3D%22M16%200c-8.837%200-16%207.163-16%2016s7.163%2016%2016%2016%2016-7.163%2016-16-7.163-16-16-16zM16%2029c-7.18%200-13-5.82-13-13s5.82-13%2013-13%2013%205.82%2013%2013-5.82%2013-13%2013z%22%3E%3C/path%3E%0A%3C/svg%3E%0A');
    }

    ._loop:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0A%3Cpath%20fill%3D%22%23444444%22%20d%3D%22M27.802%205.197c-2.925-3.194-7.13-5.197-11.803-5.197-8.837%200-16%207.163-16%2016h3c0-7.18%205.82-13%2013-13%203.844%200%207.298%201.669%209.678%204.322l-4.678%204.678h11v-11l-4.198%204.197z%22%3E%3C/path%3E%0A%3Cpath%20fill%3D%22%23444444%22%20d%3D%22M29%2016c0%207.18-5.82%2013-13%2013-3.844%200-7.298-1.669-9.678-4.322l4.678-4.678h-11v11l4.197-4.197c2.925%203.194%207.13%205.197%2011.803%205.197%208.837%200%2016-7.163%2016-16h-3z%22%3E%3C/path%3E%0A%3C/svg%3E%0A');
    }

    ._loop.-disabled:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0A%3Cpath%20fill%3D%22%23aaaaaa%22%20d%3D%22M27.802%205.197c-2.925-3.194-7.13-5.197-11.803-5.197-8.837%200-16%207.163-16%2016h3c0-7.18%205.82-13%2013-13%203.844%200%207.298%201.669%209.678%204.322l-4.678%204.678h11v-11l-4.198%204.197z%22%3E%3C/path%3E%0A%3Cpath%20fill%3D%22%23aaaaaa%22%20d%3D%22M29%2016c0%207.18-5.82%2013-13%2013-3.844%200-7.298-1.669-9.678-4.322l4.678-4.678h-11v11l4.197-4.197c2.925%203.194%207.13%205.197%2011.803%205.197%208.837%200%2016-7.163%2016-16h-3z%22%3E%3C/path%3E%0A%3C/svg%3E%0A');
    }

    ._rename:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0A%3Cpath%20d%3D%22M0%2032c4-12%2014.469-32%2032-32-8.219%206.594-12%2022-18%2022s-6%200-6%200l-6%2010h-2z%22%20fill%3D%22%23444444%22%3E%3C/path%3E%0A%3C/svg%3E%0A');
    }

    ._rename.-disabled:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0A%3Cpath%20fill%3D%22%23aaaaaa%22%20d%3D%22M0%2032c4-12%2014.469-32%2032-32-8.219%206.594-12%2022-18%2022s-6%200-6%200l-6%2010h-2z%22%3E%3C/path%3E%0A%3C/svg%3E%0A');
    }

    ._upload:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0D%0A%3Cg%20transform%3D%22translate%280%200%29%22%3E%0D%0A%09%3Cpath%20d%3D%22M27.883%2012.078c0.076-0.347%200.117-0.708%200.117-1.078%200-2.761-2.239-5-5-5-0.444%200-0.875%200.058-1.285%200.167-0.775-2.417-3.040-4.167-5.715-4.167-2.73%200-5.033%201.823-5.76%204.318-0.711-0.207-1.462-0.318-2.24-0.318-4.418%200-8%203.582-8%208s3.582%208%208%208h4v6h8v-6h7c2.761%200%205-2.239%205-5%200-2.46-1.777-4.505-4.117-4.922zM18%2020v6h-4v-6h-5l7-7%207%207h-5z%22%20fill%3D%22%23444444%22%3E%3C/path%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
    }

    ._upload.-disabled:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0D%0A%3Cg%20transform%3D%22translate%280%200%29%22%3E%0D%0A%09%3Cpath%20d%3D%22M27.883%2012.078c0.076-0.347%200.117-0.708%200.117-1.078%200-2.761-2.239-5-5-5-0.444%200-0.875%200.058-1.285%200.167-0.775-2.417-3.040-4.167-5.715-4.167-2.73%200-5.033%201.823-5.76%204.318-0.711-0.207-1.462-0.318-2.24-0.318-4.418%200-8%203.582-8%208s3.582%208%208%208h4v6h8v-6h7c2.761%200%205-2.239%205-5%200-2.46-1.777-4.505-4.117-4.922zM18%2020v6h-4v-6h-5l7-7%207%207h-5z%22%20fill%3D%22%23aaaaaa%22%3E%3C/path%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
    }

    ._search:after {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0D%0A%3Cg%20transform%3D%22translate%280%200%29%22%3E%0D%0A%09%3Cpath%20d%3D%22M31.008%2027.231l-7.58-6.447c-0.784-0.705-1.622-1.029-2.299-0.998%201.789-2.096%202.87-4.815%202.87-7.787%200-6.627-5.373-12-12-12s-12%205.373-12%2012%205.373%2012%2012%2012c2.972%200%205.691-1.081%207.787-2.87-0.031%200.677%200.293%201.515%200.998%202.299l6.447%207.58c1.104%201.226%202.907%201.33%204.007%200.23s0.997-2.903-0.23-4.007zM12%2020c-4.418%200-8-3.582-8-8s3.582-8%208-8%208%203.582%208%208-3.582%208-8%208z%22%20fill%3D%22%23444444%22%3E%3C/path%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
    }

    ._back._loader:before,
    ._forward._loader:before,
    ._new-folder._loader:before,
    ._download._loader:before,
    ._cut._loader:before,
    ._copy._loader:before,
    ._info._loader:before,
    ._loop._loader:before,
    ._paste._loader:before,
    ._rename._loader:before,
    ._delete._loader:before,
    ._upload._loader:before,
    ._search._loader:after {
        top: 5px;
        width: 18px;
        height: 18px;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0D%0A%3Cg%20transform%3D%22translate%280%200%29%22%3E%0D%0A%09%3Cpath%20d%3D%22M32%2016c-0.040-2.089-0.493-4.172-1.331-6.077-0.834-1.906-2.046-3.633-3.533-5.060-1.486-1.428-3.248-2.557-5.156-3.302-1.906-0.748-3.956-1.105-5.981-1.061-2.025%200.040-4.042%200.48-5.885%201.292-1.845%200.809-3.517%201.983-4.898%203.424s-2.474%203.147-3.193%204.994c-0.722%201.846-1.067%203.829-1.023%205.79%200.040%201.961%200.468%203.911%201.254%205.694%200.784%201.784%201.921%203.401%203.316%204.736%201.394%201.336%203.046%202.391%204.832%203.085%201.785%200.697%203.701%201.028%205.598%200.985%201.897-0.040%203.78-0.455%205.502-1.216%201.723-0.759%203.285-1.859%204.574-3.208%201.29-1.348%202.308-2.945%202.977-4.67%200.407-1.046%200.684-2.137%200.829-3.244%200.039%200.002%200.078%200.004%200.118%200.004%201.105%200%202-0.895%202-2%200-0.056-0.003-0.112-0.007-0.167h0.007zM28.822%2021.311c-0.733%201.663-1.796%203.169-3.099%204.412s-2.844%202.225-4.508%202.868c-1.663%200.646-3.447%200.952-5.215%200.909-1.769-0.041-3.519-0.429-5.119-1.14-1.602-0.708-3.053-1.734-4.25-2.991s-2.141-2.743-2.76-4.346c-0.621-1.603-0.913-3.319-0.871-5.024%200.041-1.705%200.417-3.388%201.102-4.928%200.683-1.541%201.672-2.937%202.883-4.088s2.642-2.058%204.184-2.652c1.542-0.596%203.192-0.875%204.832-0.833%201.641%200.041%203.257%200.404%204.736%201.064%201.48%200.658%202.82%201.609%203.926%202.774s1.975%202.54%202.543%204.021c0.57%201.481%200.837%203.064%200.794%204.641h0.007c-0.005%200.055-0.007%200.11-0.007%200.167%200%201.032%200.781%201.88%201.784%201.988-0.195%201.088-0.517%202.151-0.962%203.156z%22%20fill%3D%22%23444444%22%3E%3C/path%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
        -webkit-animation: loaderAnimation 1.4s infinite linear;
        -o-animation: loaderAnimation 1.4s infinite linear;
        -moz-animation: loaderAnimation 1.4s infinite linear;
        animation: loaderAnimation 1.4s infinite linear;
    }
}