<div class="k-window k-widget">
	<div class="k-window-titlebar k-header">
	    <span class="k-window-title"></span>
	
	    <div class="k-window-actions">
	        <a role="button" href="#" class="k-window-action k-link">
	            <span class="k-icon k-i-close" data-action="close"></span>
	        </a>
	    </div>
	</div>
    <div class="k-window-content" role="k-modal-content"></div>
</div>